body{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    width :400px;
    margin :40px auto;
}

.btn{
    background-color: black;
    color: white;
    padding: 16px 30px;
    border:none;
    border-radius: 12px;
    font-size: 16px;
    margin-top: 12px;
    width: 40%;
}

.btn:hover{
    cursor: pointer;
}

.alert{
    padding: 16px 30px;
    border:none;
    border-radius: 12px;
    font-size: 16px;
    margin-top: 12px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 200px;
    transition: .3s;
    transform: scale(0);
}

.hidden{
    display: none;
}

.success{
    transform: scale(1);
    color:rgb(1, 65, 1);
    background-color: rgb(231, 251, 231);
}

.danger{
    transform: scale(1);
    color:rgb(119, 12, 12);
    background-color: rgb(223, 180, 180);
}

.flex{
    display: flex;
    gap: 10px;
}
/* 
.dice{
    height: 80px;
    width: 80px;
    background-color: #eee;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bolder;
    margin:20px  0;
}

.spin{
    animation-name: spin;
    animation-duration: 1s;

}
@keyframes spin {
    to{
        transform: rotate(360deg);
    }
} */

.box-container{
    width: 400px;
    margin: 60px auto;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.box{
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 12px;
}

.flex{
    display: flex;
    gap: 12px;
}


.input{
    width: 50%;
    padding: 16px;
    font-size: 14px;
    border-radius: 12px;
    border: 1px solid lightgray;
    box-sizing: border-box;
}

.input:focus{
    outline: none;
     border: 1px solid blue;
}


.users-container{
    width: 400px;
    margin: 40px auto;
}

.user{
    width:100%;
    border: 1px solid lightgray;
    background-color: rgb(164, 163, 163);
    border-radius: 12px;
    padding:6px 20px;
    display: flex;
    gap: 20px;
    margin-top: 12px;

}