body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:rgb(0, 0, 0);
    margin: 0;
}
.header{
    width: 700px;
    margin: 30px auto;
    text-align: center;
}
.input{
    width: 560px;
    padding: 16px 20px;
    font-size: 16px;
    background-color:#ffffff33;
    color: white;
    border: none;
    border-radius: 12px 0 0 12px;
    transition: .4s;
}
input:focus{
    outline: none;
    background-color: #ffffff1e;
}

.flex{
    display: flex;
}
.btn{
    width: 140px;
    color: white;
    background-color: rgba(255, 0, 0, 0.685);
    border: none;
    border-radius: 0 12px 12px 0;
    transition: .4s;
}
.btn:hover{
    background-color: red;

}
.logo{
    width: 60px;
}

#poster{
    height:340px ;
    width: 760px;
    object-fit: cover;
}

.suggestion{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(254, 254, 252);
    padding: 3px 12px;
    font-size: 14px;
    color: rgb(74, 9, 9);
    margin: 10px;
    border-radius: 20px;

}

.banner{
    position: relative;
}


/* suggestion conditoins */
.worthWatching{
    background-color: green;
    color: white;
}

.canWatch{
    background-color: yellow;
    color: white;
}

.timeWaste{
    background-color: red;
    color: white;
}
