body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

@media(min-width:600px) {
.profile{
    font-size: 12px;
    width: 590px;
    margin: 50px auto;
    display: flex;
    gap: 20px;
    background-color: rgb(205, 204, 203);
    border-radius: 1em;
}

.avatar{
    width: 20em;
    border-radius: 1em;
}

.btn{
    background-color: black;
    color: white;
    padding: 16px 30px;
    border-radius: 12px;
    border: 1px solid lightgray;
    font-size: 16px;
    margin-bottom: 10px;
}

.profile h1{
font-size: 2.75em;
           }
.profile p{
    font-size: 1.25em;
          }

}





@media(max-width:499px) {
.profile{
    font-size: 12px;
    margin: 50px auto;
    /* background-color: rgb(205, 204, 203);
    border-radius: 1em; */
}

.avatar{
    width: 10em ;
    border-radius: 50%;
    text-align: center;
}

.btn{
    background-color: black;
    color: white;
    padding: 12px 26px;
    border-radius: 12px;
    border: 1px solid lightgray;
    font-size: 14px;
}

.profile h1{
font-size: 2em;
           }
.profile p{
    font-size: 1em;
          }

}





@media(min-width:499px) and (max-width:899px) {
.profile{
    font-size: 12px;
    width: 600px;
    margin: 50px auto;
    display: flex;
    gap: 20px;
    background-color: rgb(205, 204, 203);
    border-radius: 1em;
}

.avatar{
    width: 20em;
    border-radius: 1em;
}

.btn{
    background-color: black;
    color: white;
    padding: 16px 30px;
    border-radius: 12px;
    border: 1px solid lightgray;
    font-size: 16px;
    margin-bottom: 10px;
}

.profile h1{
font-size: 2.75em;
           }
.profile p{
    font-size: 1.25em;
          }

}
